<!doctype html>
<!--[if IE 8]>          <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>          <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!--> 
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Zombie ReactJS Test!</title>
  {{{_sections.page_stylesheets}}}
</head>

<body>

  {{{body}}}
  {{{_sections.page_javascripts}}}
</body>
</html>